body{
    margin: 0;
    background-color: ghostwhite;
    font: 16px Arial, sans-serif;
}
table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid #c7c7c7;
}
th{
    background-color: gainsboro;
    position: sticky;
    top: -1px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .225rem;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
}
#main-header{
    display: flex;
    align-items: center;
}
#loading-ajax{
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    background-image: url('../images/loading-ajax.gif');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    z-index: 2;
}
.divider{
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
}
.form{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c7c7c7;
    margin-bottom: 5px
}
.btn{
    padding: 10px;
    font-size: 16px;
    border-radius: .225rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.btn.success{
    background-color: #3a993a;
    border: 1px solid #328332;
}
.btn.success:hover{
    background-color: #328332;
    border: 1px solid #307a30;
}
.btn.error{
    background-color: #c52626;
    border: 1px solid #a71c1c;
}
.btn.error:hover{
    background-color: #b61f1f;
    border: 1px solid #9e1919;
}
.modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal.toggled{
    display: flex;
}
.modal-content{
    width: 500px;
    background-color: white;
    border: 1px solid #888;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.modal-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.modal-close{
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}
.modal-close:hover,.modal-close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}